@tailwind components;
@layer components {
  // common utility patterns

  .u-focus {
    @apply focus:outline-none focus:ring-1 focus:ring-primary;
  }
  .u-button {
    @apply inline-flex justify-center items-center px-5 py-2 border leading-4 font-medium rounded-full shadow-sm focus:outline-none;
  }

  .u-label-text {
    @apply font-semibold text-gray-900 mr-2 flex items-center text-left;
  }

  .u-panel {
    @apply flex justify-between flex-col md:flex-row items-start md:items-center z-30;
  }

  .u-horizontal-center {
    @apply flex justify-center;
  }
  .u-vertical-center {
    @apply flex items-center;
  }
  .u-center {
    @apply flex items-center justify-center;
  }

  .u-black-ring {
    @apply ring-1 ring-black ring-opacity-5;
  }

  .u-reverse-flex-col-to-row {
    // content displayed in column in reverse order on xs screens. on sm and larger display content in normal order in row
    @apply flex flex-col-reverse sm:flex-row space-y-4 sm:space-y-0 space-y-reverse space-x-0 sm:space-x-4;
  }
}

/* NAV */
.nav-item {
  .nav-item-popover {
    left: 42px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    transition: max-width 1s;
    max-width: 0;
  }
  .nav-item-text {
    display: none;
  }
}

.nav-item:hover {
  .nav-item-popover {
    transition: max-width 1s;
    max-width: 300px;
  }
  .nav-item-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}

// INPUT
.no-arrows {
  // remove arrows from number input
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* BANNER */
.line-clamp-1 {
  width: calc(100%);
  height: 1.5em !important;
  display: block;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}

/* SAVE PANEL */
.save-panel {
  width: calc(100% - 15em);
  margin-left: -1rem;
}

.uafrica-modal-overlay {
  z-index: 11;
}

.uafrica-modal {
  padding-top: 1rem;
  z-index: 11;

  .content {
    max-height: calc(100vh - 90px) !important;
    max-width: calc(95vw) !important;
  }
  .save-panel {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-bottom: 0 !important;
    bottom: 0 !important;
  }

  .ua-modal-buttons-panel {
    width: calc(100%);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    bottom: 0 !important;
  }

  .ua-modal-actions-panel {
    background-color: white;
    position: fixed !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: calc(100%);
    margin-top: 1rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    top: 0 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    min-height: 40px;
  }
}

.large-modal {
  width: calc(95vw);
  max-width: calc(95vw) !important;
}

.medium-modal {
  width: 850px;
  max-width: calc(95vw) !important;
}
.small-modal {
  width: 450px;
  max-width: calc(95vw) !important;
}

.time-picker {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.ua-filters-panel > * {
  margin-right: 1rem;
}

.ua-filters-panel > *:nth-child(1) {
  margin-right: 1rem !important;
}

@media (max-width: 475px) {
  .uafrica-modal {
    .content {
      max-height: calc(100vh - 180px) !important;
      max-width: calc(98vw) !important;
    }
  }
  .save-panel {
    left: 0px;
    width: 100%;
  }

  .ua-page-actions-panel-children > * {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .ua-filters-panel > * {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0;
  }
}

@media (max-height: 750px) {
  .uafrica-modal {
    .content {
      max-height: calc(100vh - 22vh) !important;
    }
  }
}

/* COUNTER */
.input-counter {
  text-align: center !important;
  border-radius: 0 !important;
}
.input-counter::-webkit-outer-spin-button,
.input-counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-counter[type="number"] {
  -moz-appearance: textfield;
}

/* LOADERS */
.loader {
  border-top-color: #3498db !important;
  -webkit-animation: loader-spinner 1.5s linear infinite;
  animation: loader-spinner 1.5s linear infinite;
}

@-webkit-keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-loader-spinning {
  animation: spinLoader 1s infinite linear;
}

@keyframes spinLoader {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

.text-danger {
  color: #dc2626;
}

/* PAGINATION */
.page-info {
  display: inline-block;
  margin: 3px 10px;
  white-space: nowrap;
}

.page-jump {
  display: inline-block;
  margin-right: 5px;

  & input {
    width: 70px;
    text-align: center;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.total-pages {
  box-sizing: border-box;
  margin-left: 5px;
}
