@layer components {
  // common utility patterns
  .u-button {
    @apply inline-flex justify-center items-center px-5 py-2 border leading-4 font-medium rounded-full shadow-sm focus:outline-none;
  }

  .u-input-icon {
    @apply absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none text-gray-400;
  }

  .u-label-text {
    @apply font-semibold text-gray-900 mr-2 flex items-center text-left;
  }

  .u-panel {
    @apply flex justify-between flex-col md:flex-row items-start md:items-center z-30;
  }

  .u-horizontal-center {
    @apply flex justify-center;
  }
  .u-vertical-center {
    @apply flex items-center;
  }
  .u-center {
    @apply flex items-center justify-center;
  }

  .u-black-ring {
    @apply ring-1 ring-black ring-opacity-5;
  }

  .u-reverse-flex-col-to-row {
    // content displayed in column in reverse order on xs screens. on sm and larger display content in normal order in row
    @apply flex flex-col-reverse sm:flex-row space-y-4 sm:space-y-0 space-y-reverse space-x-0 sm:space-x-4;
  }
}

/* SAVE PANEL */
.save-panel {
  width: calc(100% - 15em);
  margin-left: -1rem;
}

.uafrica-modal {
  padding-top: 1rem;
  .content {
    max-height: calc(100vh - 130px) !important;
    max-width: calc(95vw) !important;
  }
  .save-panel {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-bottom: 0 !important;
    bottom: 0 !important;
  }

  .ua-modal-buttons-panel {
    width: calc(100%);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    bottom: 0 !important;
  }

  .ua-modal-actions-panel {
    background-color: white;
    position: fixed !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: calc(100%);
    margin-top: 1rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    top: 0 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    min-height: 40px;
  }
}

.large-modal {
  width: calc(95vw);
  max-width: calc(95vw) !important;
}

.medium-modal {
  width: 850px;
  max-width: calc(95vw) !important;
}
.small-modal {
  width: 450px;
  max-width: calc(95vw) !important;
}

.time-picker {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.ua-filters-panel > * {
  margin-left: 1rem;
}

.ua-filters-panel > *:nth-child(1) {
  margin-left: 0 !important;
}

@media (max-width: 475px) {
  .uafrica-modal {
    .content {
      max-height: calc(100vh - 180px) !important;
      max-width: calc(98vw) !important;
    }
  }
  .save-panel {
    left: 0px;
    width: 100%;
  }

  .ua-page-actions-panel-children > * {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .ua-filters-panel > * {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0;
  }
}

@media (max-height: 500px) {
  .uafrica-modal {
    .content {
      max-height: calc(100vh) !important;
    }
  }
}

/* LOADERS */
.loader {
  border-top-color: #3498db !important;
  -webkit-animation: loader-spinner 1.5s linear infinite;
  animation: loader-spinner 1.5s linear infinite;
}

@-webkit-keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-loader-spinning {
  animation: spinLoader 1s infinite linear;
}

@keyframes spinLoader {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}
