/* SAVE PANEL */
.save-panel {
  width: calc(100% - 15em);
  margin-left: -1rem;
}

.uafrica-modal {
  .content {
    max-height: calc(100vh - 160px);
    max-width: calc(100vw);
  }
  .save-panel {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: -1em;
  }
}

.time-picker {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@media (max-width: 450px) {
  .save-panel {
    left: 0px;
    width: 100%;
  }
}

/* LOADERS */
.loader {
  border-top-color: #3498db !important;
  -webkit-animation: loader-spinner 1.5s linear infinite;
  animation: loader-spinner 1.5s linear infinite;
}

@-webkit-keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-loader-spinning {
  animation: spinLoader 1s infinite linear;
}

@keyframes spinLoader {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}
